[Unit]
Description=Barrier Client daemon
After=network.target

[Service]
ExecStart=barrierc --enable-crypto --name kvm-01 --display :0.0 --debug DEBUG1 -f 10.1.1.198
Restart=always

[Install]
WantedBy=multi-user.target
